@model EmilyLearnsWebAppDevelopment.Models.City

@{
    ViewData["Title"] = "City Details";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <link type="text/css" rel="stylesheet" href="~/css/citystyle.css" asp-append-version="true" /> <!-- A fix to get chrome to refresh css -->
</head>
<body>
    <div>
        <h1 class="sitetitle">@Model.CityName</h1>
        <div style="padding:10px">
            @if (Model.ImageName != null)
            {
                <div>
                    <img class="photo-display-img" src="@Url.Action("GetImage", "City", new { CityId = Model.ID })" />
                </div>
                <div class="text-center" style="font-size:smaller; color:dimgray">
                    @Model.Attribution
                </div>
            }
    </div>
    <br />
    <div>
        <div class="button-center">
            @Html.ActionLink("Back", "Index")
        </div>
    </div>
</body>
</html>
